.app {
    background-color: antiquewhite;
    /* background-color: #ccc; */
    padding: 20px;
    border-radius: 16px;
}
.appLabel {
    font-size: 24px;
}
.appLabel {
    text-decoration: underline;
}