* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 auto	;
	/* border: 1px solid red; */
	height: 300px;
	width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.fieldItem {
	height: 98px;
	width: 98px;
}
.fieldItem:hover {
	background-color: #2d2d2d;
	cursor: pointer;
}
.fieldItem {
	border: 1px solid red;
	text-align: center;
	padding-top: 24px;
	font-size: 32px;
	/* border-right: 1px solid red;; */
}
.restartGameBtn{
	margin: 0 auto;
	width: 140px;
	
}
