@import url('fonts/font-awesome.css'); /* в уроке прописали это, вместо lknk в html(хотя и так всё нормально работало) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #405060;
    font-family: sans-serif;
}

html, body, #root {
    height: 100%;
}
a