@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css');
body {
	background-color: #F2F2F2;
}
.container_app {
	display: flex;
	gap: 40px;
}
.list_item {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 10px;
	background-color: #F4A460;
	color: #FFFFFF;
	border-radius: 8px;
	padding-right: 20px;
}

.task_text {
	width: 400px;
	padding-left: 20px;
}
.task_list {
	border: 1px solid #F25A38;
	padding: 10px;
	border-radius: 8px;
	background-color: #FFFFFF;
}
.list_item_status {
	width: 100px;
	font-size: 12px;
}
.list_btn {
	background-color: #F25A38;
	border: none;
	color: #f2f2f2;
	cursor: pointer;
	padding: 6px;
	border-radius: 8px;
}
.list_btn:hover {
	filter: brightness(110%);
}

.forms_container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}


