* {
  box-sizing: border-box;
}
:root {
  --fs: 16px;
  --font: Arial;
  --bg: #fff;
  --color-text: #333;
  --color-text-more: rgba(0,0,0, 0.4)
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
    font-family: var(--font);
    font-size: var(--fs);
    background-color: var(--bg);
    color: var(--color-text);
    line-height: 1.4;
    margin: 0;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

img {
  min-width: 100%;
  vertical-align: top;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.indent{
  padding-top: 50px;
  padding-bottom: 50px;
}