* {
  box-sizing: border-box;
}
:root {
  --fs: 16px;
  --font: Arial;
  --bg: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
    font-family: serif;
}

.indent{
  padding-top: 50px;
}