.list_btn {
	background-color: #F25A38;
	border: none;
	color: #f2f2f2;
	cursor: pointer;
	padding: 6px;
	border-radius: 8px;
}
.list_btn:hover {
	filter: brightness(110%);
}
.item_container {
	min-width: 400px;
	m
}
.button_item_box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 20px;
}