.list_item {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 10px;
	/* background-color: #F2CDC4; */
	background-color: #F4A460;
	color: #FFFFFF;
	border-radius: 8px;
	padding-right: 20px;
}

.task_text {
	width: 400px;
	padding-left: 20px;
}
.list_item_status {
	width: 100px;
	font-size: 12px;
}
.list_btn {
	background-color: #F25A38;
	border: none;
	color: #f2f2f2;
	cursor: pointer;
	padding: 6px;
	border-radius: 8px;
}
.list_btn:hover {
	filter: brightness(110%);
}
.item_link {
	text-decoration: none;
}
.item_link:hover {
	
}
