.container {
  max-width: 780px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

/* .root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.btn__cover {
  margin: 20px;
}
.numButtons {
  margin: 8px;
}

.btnOperation {
  margin: 8px;
}
.btnEqual {
  margin-bottom: 10px;
}
.display {
  min-height: 20px;
  background-color: #ccc
}
.btn {

}
.btn::